<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/content.css">
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

 
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>

    <div class="movie-card" style="margin-top: 40px; z-index: -1;">
        <div class="container" style="width: 100%; ">
            <video controls style="width:300px; height:200px; border: 3px solid #ffffff00; border-radius: 10px;" class="cover" id="movieVideo">
                <!-- <source src="http://localhost:55000/assets/img/uploads/tst2.mp4" type="video/mp4"> -->
                <source id="videoSource"  type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="hero" id="hero">
                <div class="details" id="movieDetails">
                    <div class="title1" id="movieTitle"></div>
                    <!-- <div class="title2">The Battle of the Five Armies</div> -->
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" checked /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                    <span class="likes">109 likes</span>
                </div>
            </div>
            <div class="description">
             
                <div class="column2">
                    <p id="movieDescription"></p>
                    <div class="avatars">
                        <a href="#" data-tooltip="Person 1" data-placement="top">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar1.png" alt="avatar1" />
                        </a>
                        <a href="#" data-tooltip="Person 2" data-placement="top">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar2.png" alt="avatar2" />
                        </a>
                        <a href="#" data-tooltip="Person 3" data-placement="top">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar3.png" alt="avatar3" />
                        </a>
                    </div>
                </div>

              

            </div>
        </div>
    </div>


   
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" style="width: 100%; height:auto;">
    <h1>Comments</h1>
<div class="be-comment-block" >
	
	<div class="be-comment" id="be-comment" style=" overflow-y: scroll;max-height: 400px;">

        
		
	</div>

	<form class="form-block mt-4" id="messageForm">
        <div class="row" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;margin-top: 20px;">

            <div class="col-xs-12 col-sm-6" style="width: 49%;">
                <div class="form-group fl_icon">
                   
                    <input class="form-input" type="text" placeholder="Your name" id="name" required>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 fl_icon" style="width: 49%;">
                <div class="form-group fl_icon">
                   
                    <input class="form-input" type="email" placeholder="Your email" id="email" required>
                </div>
            </div>

            </div>

            <div class="col-xs-12 col-sm-12" style="margin-top: 20px;">									
                <div class="form-group">
                    <textarea class="form-input" id="message" required placeholder="Your text"></textarea>
                </div>
            </div>
            <button type="button" class="btn btn-primary pull-right" style="width: 300px; height: 30px; margin-top: 10px;" id="submitButton">Submit</button>
        
    </form>
</div>
</div>
    </div>


    <script>
        
      
        async function fetchMovieContent() {
    const urlParams = new URLSearchParams(window.location.search);
    const movieId = urlParams.get('id');
    if (!movieId) {
        console.error('No movie ID provided in URL');
        return;
    }
    try {
        const response = await fetch('/content', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: movieId })
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        const movie = await response.json();

        document.getElementById('movieTitle').innerHTML = `${movie.name} <span>IMDB: ${movie.imdb_no}</span>`;
        document.getElementById('movieDescription').innerHTML = `${movie.description}`;
        document.getElementById('hero').style.backgroundImage = `url(/assets/img/uploads/${movie.img})`;
        document.getElementById('videoSource').src = `/assets/img/uploads/${movie.video}`;
        document.getElementById('movieVideo').load(); // Yeni video kaynağını yükleyin
    } catch (error) {
        console.error('Fetch error: ', error);
    }
}

    </script>


<script>
    async function fetchComments() {
        // Get movie ID from URL
        const urlParams = new URLSearchParams(window.location.search);
        const movieId = urlParams.get('id');

        try {
            const response = await fetch(`/comments?movie_id=${movieId}`);
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const comments = await response.json();

            const commentsSection = document.getElementById('be-comment');
            commentsSection.innerHTML = ''; // Clear previous comments

            comments.forEach(comment => {
                const commentElement = document.createElement('div');
                commentElement.classList.add('be-comment');

                commentElement.innerHTML = `
                    <div class="be-comment-content">
                        <span class="be-comment-name">
                            <a href="#">${comment.name}</a>
                        </span>
                        <p class="be-comment-text">
                            ${comment.message}
                        </p>
                    </div>
                `;
                commentsSection.appendChild(commentElement);
            });
        } catch (error) {
            console.error('Fetch error: ', error);
        }
    }

    // Fetch movie content and comments when the page loads
    window.onload = function() {
        fetchMovieContent();
        fetchComments();
    }
</script>

 


 <script>
    document.getElementById('submitButton').addEventListener('click', async function () {
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const message = document.getElementById('message').value;

        // Get movie ID from URL
        const urlParams = new URLSearchParams(window.location.search);
        const movieId = urlParams.get('id');

        const data = {
            name: name,
            email: email,
            message: message,
            movieId: movieId
        };

        try {
            const response = await fetch('/message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                const result = await response.json();
                alert('Message sent successfully');
                window.location.reload();
            } else {
                const error = await response.json();
                alert('Error: ' + error.message);
            }
        } catch (error) {
            alert('Error: ' + error.message);
        }
    });
</script>


</body>
</html>
